<a href="https://colab.research.google.com/github/Mujerry/dsf-sales-prediction/blob/main/Project_1_Reference.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project 1 - Part 1 (Core)  
You now have all the skills needed to start your first portfolio project for this course! The goal of your portfolio projects are to have items to show potential employers that demonstrate your data science skills and competencies.  You will add to this project over the next few weeks as your learn new skills.

The first project will be a sales prediction for food items sold at various stores. Because of this, you will want to title your repository something descriptive like "sales-predictions" or "food-sales-predictions." Avoid calling this something vague like "project1." Remember, this will be used to show potential employers your data science skills!

For Part 1, you are just getting things set up!

1) Set up a GitHub repository that will house your first portfolio project. Follow the instructions in the video below to help you complete this task!

2) Use Pandas to read in the sales prediction data set into a Google Colab Notebook and verify the data by using the df.head() command.  

Download the data using this link: [download the data](https://drive.google.com/file/d/1syH81TVrbBsdymLT_jl2JIf6IjPXtSQw/view?usp=sharing). (Note: [Original data source](https://datahack.analyticsvidhya.com/contest/practice-problem-big-mart-sales-iii/))
3) Add the Google Colab Notebook to your GitHub repository.  Open the "file" tab and click on "Save a copy in Github"

In [ ]:
# Load data
filename = "/content/drive/MyDrive/Coding Dojo/Slides/Project/sales_predictions.csv"

import pandas as pd
df = pd.read_csv(filename)

In [ ]:
# Show data head()
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

# Project 1 - Part 2 (Core)
We will continue to work off of the GitHub repository you created last week for your first portfolio project. The goal of your portfolio projects are to have items to show potential employers that demonstrate your data science skills and competencies.

The first project will be a sales prediction for food items sold at various stores. The goal of this is to help the retailer understand the properties of products and outlets that play crucial roles in increasing sales.  
For Part 2, your task is to  use Pandas to start cleaning and exploring the data. As data scientists, about 80% of our time is spent on data preparation - so this is a very important step! 

Your data should already be loaded into your notebook from part 1 of the project.
Explore the data - what do you need to do to clean this data? Clean it!  
Be sure to address each of the following tasks:

1) How many rows and columns?

In [ ]:
# Using the dataframe shape attribute 
df.shape

(8523, 12)

In [ ]:
print(f'Rows: {df.shape[0]} \n Columns: {df.shape[1]}')

Rows: 8523
 Columns: 12

2) What are the datatypes of each variable?

In [ ]:
# Using the info() method
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

3) Are there duplicates? If so, drop any duplicates.

4) Identify missing values.

5) Decide on how to address the missing values and do it! (This requires your judgement, so explain your choice).

6) Confirm that there are no missing values after addressing them.

7) Find and fix any inconsistent categories of data (example: fix cat, Cat, and cats so that they are consistent)

8) For any numerical columns, obtain the summary statistics of each (min, max, mean)

# Project 1 - Part 3 (Core)

In [1]:
# Add new comment